/* Borders */

.card-grid-item::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 4px solid #75986E;
    border-radius: 9px;
}

/* Badge */

.badge {
    /* extend .card-grid-item-count */

    background-color: #75986E;
    /* top: 45%; */
    left: auto;
    right: 11%;
    border-right: 2px solid hsl(110deg 17% 40%);
}
